{% extends "club/layout.html" %}

{% block body %}


<div class="card d-flex align-items-center" style="border:none; background-color: rgb(228, 205, 180);">
    <div class="row mx-3" >
      {% if joined_clubs %}
        {% for membership in joined_clubs %}
            <div class="card mx-3 my-4" style="width: 18rem;">
                <img src="{{membership.club.imageUrl}}" class="card-img-top" alt="image" height="350rem" width="150rem" >
                <div class="card-body text-center">
                    <h5 class="card-title">{{membership.club.name}}</h5>
                    <p class="card-text" id="clubDescription{{ club.id }}">{{ membership.club.description | truncatewords:20 }} 
                        {% if membership.club.description|length > 20 %}
                            <a href="{% url 'clubprofile' club_id=membership.club.id  %}" class="link-dark link-underline-opacity-50-hover text-reset" 
                            onclick="showFullDescription({{ membership.club.id }})">more</a>
                        {% endif %}
                    </p>
                    <h5 class="text-center">Currently Reading:</h5>
                        {% for book in membership.club.books.all %}
                            <div class="text-center">
                                <img src="{{ book.cover_image }}" alt="{{ book.title }}" height="200px" width="200px" style="object-fit: cover;">
                                <p>{{ book.title }}</p>
                            </div>
                        {% endfor %}
                    <a href="{% url 'clubprofile' club_id=membership.club.id  %}" class="btn custom-button3">Details</a>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
            <div class="card text-center" style="border:none; background-color: rgb(228, 205, 180); height:600px; width: 500px;">
                <h2 class="mt-5">You haven't joined any clubs yet.</h2>
                <div class="card-body">
                    <a href="{% url 'find_club' %}" class="btn custom-button3 btn-dark">Join A Club</a>
                </div>
            </div>
        </div>
        
      {% endif %}
    </div>
</diV>






{% endblock %}